* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sofadi One, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "block1"
        "block2"
        "block3";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.block {
    padding: 20px;
    background-color: #f4f4f4;
}

.block1 {
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    grid-area: block1;
    background-color: #ffffff;
    border-bottom: 1px solid #9a9a9a;
}

.block2 {
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    grid-area: block2;
    background-color: #979595;
    background-image: url('image-bg.jpg');
}

.block3 {
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    grid-area: block3;
    background-color: rgb(26, 26, 26);
}

#site-search {
    height: 40px;
    font-size: 16px;
    padding: 5px;
    width: 200px;
}

.container_ {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.block_ {
    width: 30%;
    padding: 10px;
    background-color: #fefefe;
    text-align: center;
    border: 1px solid #9a9a9a;
    margin: 10px;
}

a {
    text-decoration: none;
}

.p1 {
    font-size: 30px;
    width: 300px;
    color:#ffc600;
}

.p2 {
    font-size: 15px;
    width: 300px;
    text-align: left;
}

.p3 {
    font-size: 50px;
    margin-left: 40px;
    width: 500px;
}

.p4 {
    font-size: 20px;
    margin-left: 40px;
    width: 500px;
}

.p5 {
    color:white;
    margin-top: 7px;
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
    }

    .container_ {
        flex-direction: column;
        margin: 20px;
    }

    .block_ {
        width: 150px;
        height: 200px;
        margin-bottom: 15px;
    }

    .p1 {
        font-size: 15px;
        width: 120px;
        color:#ffc600;
    }

    .p2 {
        font-size: 8px;
        width: 120px;
        text-align: left;
    }

    .p3 {
        font-size: 25px;
        margin-left: 20px;
        width: 250px;
    }

    .p4 {
        font-size: 10px;
        margin-left: 20px;
        width: 250px;
    }

    .p5 {
        color:white;
        margin-top: 7px;
    }

    img {
        height: 100px;
    }

    #site-search {
        height: 20px;
        font-size: 8px;
        padding: 5px;
        width: 300px;
    }

    .block1 {
        text-align: left;
        justify-content: flex-end;
        align-items: center;
        grid-area: block1;
        background-color: #ffffff;
        border-bottom: 1px solid #9a9a9a;
    }

    .block2 {
        text-align: left;
        justify-content: flex-end;
        align-items: center;
        grid-area: block2;
        background-color: #979595;
        background-image: url('image-bg-mb.JPG');
    }

    .block3 {
        text-align: left;
        justify-content: flex-end;
        align-items: center;
        grid-area: block3;
        background-color: rgb(26, 26, 26);
    }

    .menu {
        height: 20px;
    }
}
